bundle:
  name: {{app_name}}

sync:
  include:
    - .build

artifacts:
  default:
    build: uv run apx build

resources:
  apps:
    {{app_name}}-app:
      name: "{{app_name}}"
      description: "{{app_name}} created with apx"
      source_code_path: ./.build
      config:
        command: ["uvicorn", "{{app_slug}}.backend.app:app", "--workers", "2"]

targets:
  dev:
    mode: development
    default: true