[project]
name = "{{app_name}}"
dynamic = ["version"]
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "fastapi>=0.119.0",
    "pydantic-settings>=2.11.0",
    "uvicorn>=0.37.0",
    "databricks-sdk>=0.74.0",
    "pyyaml>=6.0.2",
]

[dependency-groups]
dev = [
    "ty>=0.0.12",
    "opentelemetry-distro>=0.50b0",
    "opentelemetry-exporter-otlp>=1.30.0",
    "asgiref>=3.11.0",
    "opentelemetry-instrumentation-asgi>=0.60b1",
    "opentelemetry-instrumentation-asyncio>=0.60b1",
    "opentelemetry-instrumentation-click>=0.60b1",
    "opentelemetry-instrumentation-dbapi>=0.60b1",
    "opentelemetry-instrumentation-fastapi>=0.60b1",
    "opentelemetry-instrumentation-grpc>=0.60b1",
    "opentelemetry-instrumentation-logging>=0.60b1",
    "opentelemetry-instrumentation-psycopg>=0.60b1",
    "opentelemetry-instrumentation-requests>=0.60b1",
    "opentelemetry-instrumentation-sqlalchemy>=0.60b1",
    "opentelemetry-instrumentation-sqlite3>=0.60b1",
    "opentelemetry-instrumentation-starlette>=0.60b1",
    "opentelemetry-instrumentation-threading>=0.60b1",
    "opentelemetry-instrumentation-tortoiseorm>=0.60b1",
    "opentelemetry-instrumentation-urllib>=0.60b1",
    "opentelemetry-instrumentation-urllib3>=0.60b1",
    "opentelemetry-instrumentation-wsgi>=0.60b1",
    "opentelemetry-util-http>=0.60b1",
]

[tool.apx.metadata]
app-name = "{{app_name}}"
app-slug = "{{app_slug}}"
app-entrypoint = "{{app_slug}}.backend.app:app"
api-prefix = "/api"
metadata-path = "src/{{app_slug}}/_metadata.py"

[tool.apx.ui]
root = "src/{{app_slug}}/ui"

[tool.apx.ui.registries]
"@animate-ui" = "https://animate-ui.com/r/{name}.json"
"@ai-elements" = "https://registry.ai-sdk.dev/{name}.json"
"@svgl" = "https://svgl.app/r/{name}.json"


[build-system]
requires = ["hatchling", "uv-dynamic-versioning>=0.7.0"]
build-backend = "hatchling.build"

[tool.hatch.version]
source = "uv-dynamic-versioning"

[tool.uv-dynamic-versioning]
vcs = "git"
fallback-version = "0.0.0"

[tool.hatch.build.hooks.version]
path = "src/{{app_slug}}/_version.py"
template = '''
version = "{version}"
'''

[tool.hatch.build]
artifacts = ["src/{{app_slug}}/__dist__", "src/{{app_slug}}/_metadata.py"]
exclude = ["src/{{app_slug}}/ui"]