[project]
name = "{{app_name}}"
dynamic = ["version"]
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = []

[build-system]
requires = ["hatchling", "uv-dynamic-versioning>=0.7.0"]
build-backend = "hatchling.build"

[tool.hatch.version]
source = "uv-dynamic-versioning"

[tool.uv-dynamic-versioning]
vcs = "git"
format-jinja = "{% raw %}{{version}}{% endraw %}"

[tool.hatch.build.hooks.version]
path = "src/{{app_name}}/_version.py"
template = '''
version = "{version}"
'''

[tool.hatch.build]
artifacts = ["src/{{app_name}}/dist"]
exclude = ["src/{{app_name}}/ui"]